name: Docker Hub Push

on:
  push:
    branches: [ main ]

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build & Push
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ccfinal-site:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/ccfinal-site:latest
